/* All Layouts */

/* width */
::-webkit-scrollbar {
  width: 0.8em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  background-color: #282C34;
}

body {
  margin: 0;
  color: white !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin-top: 3%;
  background-color: #282C34;
}

.recipeTitle {
  color: #e3a21a;
}

.appTitle {
  font-size: 4em;
  color: #FACF5A;
  font-family: Copperplate, fantasy;
}

.recipesAutoSearch li {
  cursor: pointer;
}

.ingredientsContainer .form-check input,
label {
  cursor: pointer;
}

.recipeStepsLG .row:first-child {
  border-radius: 0.4em 0.4em 0em 0em;
}

.recipeStepsLG .row:last-child {
  border-radius: 0em 0em 0.4em 0.4em;
}

.recipeStepsLG .row:first-child:last-child {
  border-radius: 0.4em 0.4em 0.4em 0.4em;
}

.recipeTags {
  margin-top: 1em;
}

.tag {
  margin-right: 0.5em;
}

.recipesSearchCollapse{
  color: #e3a21a;
  text-align: left;
}

/*Mobile*/
@media only screen and (max-width: 760px) {
  .appTitle {
    text-align: center;
  }

  h4 {
    margin-top: 1em !important;
  }

  .recipesSearch {
    visibility: collapse;
    display: none;
  }

  .recipeTags {
    text-align: center;
  }

  .recipesView {
    width: 100%;
    margin-top: 2em;
    padding: 1em;
  }

  .recipesAutoSearch {
    padding-right: 1em;
    padding-left: 1em;
  }

  .recipesSearchCollapse{
    margin-top: 1em;
    visibility: visible;
    display: initial;
  }

  .menuCategories{
    border: 0.4em groove #1C6EA4;
    border-radius: 1em;
    margin: 1em;
    margin-bottom: -2em;
  }

  .menuCategories .recipeLink{
    margin-left: 1em;
  }

  .menuItemParent {
    text-align: center;
  }
}

/* For desktop: */
@media only screen and (min-width: 768px) {

  .recipesSearchCollapse{
    visibility: collapse;
    display: none;
  }

  .recipesSearch {
    color: #e3a21a;
    float: left;
    border-top: 0.4em solid #1C6EA4;
    border-right: 0.4em solid #1C6EA4;
    border-bottom: 0.4em solid #1C6EA4;
    border-radius: 0em 1em 1em 0em;
    width: 22em;
    height: 65em;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    display: initial;
  }

  .recipesSearch .row {
    margin-left: 1%;
  }

  .recipeLink {
    cursor: pointer;
  }

  .recipesView {
    width: 75em;
    margin-left: 24em;
  }

  .appTitle {
    margin-top: -1em;
  }

  .recipeSteps {
    width: 70%;
    margin-top: 2%;
  }

  .recipesAutoSearch {
    width: 25%;
    float: right;
    margin-right: 2%;
    margin-top: -4em;
  }
}

/* Not found component */

.notfoundContainer {
  background-color: #282C34;
  text-align: -webkit-center;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 {
  position: relative;
  height: 20em;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #e3a21a;
  margin: 0em;
  letter-spacing: 0.3em;
  padding-left: 2em;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20em;
  font-weight: 900;
  margin: 0em;
  color: #e3a21a;
  text-transform: uppercase;  
}

.notfound .notfound-404 h1>span {
  text-shadow: -0.05em 0em 0em #fff;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 50em;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  background: transparent;
  color: #e3a21a;
}