html{
  background-color: #282C34;  
}

body {
  margin: 0;
  color: white !important;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.App {
  margin-top: 3%;
}

.recipesSearch {
  color: #e3a21a;
  float: left;  
  border-top: 5px solid #1C6EA4;
  border-right: 5px solid #1C6EA4;  
  border-bottom: 5px solid #1C6EA4;
  border-radius: 0px 17px 17px 0px;
}

.recipesSearch .row
{
  margin-left: 1%;
}

.recipeLink{
  cursor: pointer;
}

.recipesView {
  float: right;
  width: 80%;
}

.recipeTitle {
  color: #e3a21a;
}

.recipeSteps {
  width: 70%;
  margin-top: 2%;
}

.recipeStepsLG {
  
}